.container {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  margin: 2rem;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

header p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  max-width: 24rem;
}

.editor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  color: #666;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
